{% extends "blend.html" %}
{% block start %}
<style>
    .mobile{
        height: 2000px;
    }
</style>
<section class="mobile text-gray-400 bg-gray-900 body-font">
    <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
      <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="https://i0.wp.com/boingboing.net/wp-content/uploads/2018/07/Youtube-Fake-News-1.jpg?fit=1280%2C720&ssl=1">
      <div class="text-center lg:w-2/3 w-full">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">404</h1>
        <p class="leading-relaxed mb-8">Error occur</p>
        <div class="flex justify-center">
          <button id="refreshButton" class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Home</button>
          <button id="re" class="ml-4 inline-flex text-gray-400 bg-gray-800 border-0 py-2 px-6 focus:outline-none hover:bg-gray-700 hover:text-white rounded text-lg">Back</button>
        </div>
      </div>
    </div>
  </section>
<script>

    document.getElementById('re').addEventListener('click', function () {
    window.scrollTo(0, 0);
    location.href = "..";
    });

    document.getElementById('refreshButton').addEventListener('click', function () {
        window.scrollTo(0, 0);
        location.href = "..";
    });
</script>
{% endblock %}
