<html>
    <head>
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
        <style>
          .animate-charcter
                        {
                          text-transform: uppercase;
                          background-image: linear-gradient(
                            -225deg,
                            #231557 0%,
                            #44107a 29%,
                            #ff1361 67%,
                            #fff800 100%
                          );
                          background-size: auto auto;
                          background-clip: border-box;
                          background-size: 200% auto;
                          color: #fff;
                          background-clip: text;
                          -webkit-background-clip: text;
                          -webkit-text-fill-color: transparent;
                          animation: textclip 2s linear infinite;
                          display: inline-block;
                              font-size: 16px;
                        }

                        @keyframes textclip {
                          to {
                            background-position: 200% center;
                          }
                        }
        </style>
    </head>

    <header class="text-gray-400 bg-gray-900 body-font">
      
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
                <img src="https://i.ibb.co/x7Qrbhm/nudes.png" width="50px" height="50px">
                <span class="ml-3 text-xl">LeakHub - Watch Ads Free</span>
            </a>
            <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
              <form method="post" enctype="multipart/form-data" style="margin: -1px;">
              {% csrf_token %}
                <a class="mr-5 hover:text-white" href="../../../../../../../../../../../">Home</a>
                <a class="mr-5 hover:text-white" href="./channel"><h1 class="animate-charcter">PrivateFun</h1></a>
              </form>
            </nav>
            <button class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0">Guest User
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
            </button>
        </div> 
      
    </header>

    
    {% block start %}
    {% endblock %}
    <footer class="text-gray-400 bg-gray-900 body-font">
        <!--div class="container px-5 py-24 mx-auto">
          <div class="flex flex-wrap md:text-left text-center -mb-10 -mx-4">
            <div class="lg:w-1/6 md:w-1/2 w-full px-4">
              <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">CATEGORIES</h2>
              <nav class="list-none mb-10">
                <li>
                  <a class="text-gray-400 hover:text-white">First Link</a>
                </li>
                <li>
                  <a class="text-gray-400 hover:text-white">Second Link</a>
                </li>
                <li>
                  <a class="text-gray-400 hover:text-white">Third Link</a>
                </li>
                <li>
                  <a class="text-gray-400 hover:text-white">Fourth Link</a>
                </li>
              </nav>
            </div>
            <div class="lg:w-1/6 md:w-1/2 w-full px-4">
              <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">CATEGORIES</h2>
              <nav class="list-none mb-10">
                <li>
                  <a class="text-gray-400 hover:text-white">First Link</a>
                </li>
                <li>
                  <a class="text-gray-400 hover:text-white">Second Link</a>
                </li>
                <li>
                  <a class="text-gray-400 hover:text-white">Third Link</a>
                </li>
                <li>
                  <a class="text-gray-400 hover:text-white">Fourth Link</a>
                </li>
              </nav>
            </div>
            <div class="lg:w-1/6 md:w-1/2 w-full px-4">
              <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">CATEGORIES</h2>
              <nav class="list-none mb-10">
                <li>
                  <a class="text-gray-400 hover:text-white">First Link</a>
                </li>
                <li>
                  <a class="text-gray-400 hover:text-white">Second Link</a>
                </li>
                <li>
                  <a class="text-gray-400 hover:text-white">Third Link</a>
                </li>
                <li>
                  <a class="text-gray-400 hover:text-white">Fourth Link</a>
                </li>
              </nav>
            </div>
            <div class="lg:w-1/6 md:w-1/2 w-full px-4">
              <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">CATEGORIES</h2>
              <nav class="list-none mb-10">
                <li>
                  <a class="text-gray-400 hover:text-white">First Link</a>
                </li>
                <li>
                  <a class="text-gray-400 hover:text-white">Second Link</a>
                </li>
                <li>
                  <a class="text-gray-400 hover:text-white">Third Link</a>
                </li>
                <li>
                  <a class="text-gray-400 hover:text-white">Fourth Link</a>
                </li>
              </nav>
            </div>
            <div class="lg:w-1/6 md:w-1/2 w-full px-4">
              <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">CATEGORIES</h2>
              <nav class="list-none mb-10">
                <li>
                  <a class="text-gray-400 hover:text-white">First Link</a>
                </li>
                <li>
                  <a class="text-gray-400 hover:text-white">Second Link</a>
                </li>
                <li>
                  <a class="text-gray-400 hover:text-white">Third Link</a>
                </li>
                <li>
                  <a class="text-gray-400 hover:text-white">Fourth Link</a>
                </li>
              </nav>
            </div>
            <div class="lg:w-1/6 md:w-1/2 w-full px-4">
              <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">CATEGORIES</h2>
              <nav class="list-none mb-10">
                <li>
                  <a class="text-gray-400 hover:text-white">First Link</a>
                </li>
                <li>
                  <a class="text-gray-400 hover:text-white">Second Link</a>
                </li>
                <li>
                  <a class="text-gray-400 hover:text-white">Third Link</a>
                </li>
                <li>
                  <a class="text-gray-400 hover:text-white">Fourth Link</a>
                </li>
              </nav>
            </div>
          </div>
        </div>
        <div class="border-t border-gray-800">
          <div class="container px-5 py-8 flex flex-wrap mx-auto items-center">
            <div class="flex md:flex-nowrap flex-wrap justify-center items-end md:justify-start">
              <div class="relative sm:w-64 w-40 sm:mr-4 mr-2">
                <label for="footer-field" class="leading-7 text-sm text-gray-400">Placeholder</label>
                <input type="text" id="footer-field" name="footer-field" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:ring-2 focus:ring-indigo-900 focus:bg-transparent focus:border-indigo-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
              </div>
              <button class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Button</button>
              <p class="text-gray-500 text-sm md:ml-6 md:mt-0 mt-2 text-center sm:text-left">Bitters chicharrones fanny pack
                <br class="lg:block hidden">waistcoat green juice
              </p>
            </div>
            <span class="inline-flex lg:ml-auto lg:mt-0 mt-6 w-full justify-center md:justify-start md:w-auto">
              <a class="text-gray-400">
                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                </svg>
              </a>
              <a class="ml-3 text-gray-400">
                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                </svg>
              </a>
              <a class="ml-3 text-gray-400">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                  <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                </svg>
              </a>
              <a class="ml-3 text-gray-400">
                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                  <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                  <circle cx="4" cy="4" r="2" stroke="none"></circle>
                </svg>
              </a>
            </span>
          </div>
        </div-->
        <div class="bg-gray-800 bg-opacity-75">
          <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
            <p class="text-gray-400 text-sm text-center sm:text-left">© 2024 LeakHub —
              <a href="https://instagram.com/vaimpier_ritik" class="text-gray-500 ml-1" target="_blank" rel="noopener noreferrer">@ritik_leaks</a>
            </p>
            <span class="sm:ml-auto sm:mt-0 mt-2 sm:w-auto w-full sm:text-left text-center text-gray-400 text-sm">Watch Ads Free</span>
          </div>
        </div>
      </footer>
</html>